{% load static django_htmx tailwind_cli lucide %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}NIA-OS{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/xterm.css' %}">
        {% htmx_script %}
        {% tailwind_css %}
        {% block head %}{% endblock %}
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        {% block body %}{% endblock %}
        <script src="{% static 'js/ws.js' %}" defer></script>
        <script src="{% static 'js/xterm.js' %}"></script>
        <script src="{% static 'js/fit.js' %}"></script>
    </body>
</html>
